.main-header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 68px;
    width: 100%;
    padding-top: 6px;
    background-image: url('/img/bg-header.png');
    background-color: #242424;

    box-shadow: 0 4px 10px rgba(0,0,0,.5);

    .menu-trigger {
        position: fixed;
        left: 12px;
        top: 20px;
        padding: 8px;
        width: 36px;
        height: 34px;
        background: none;
        border: none;
        vertical-align: middle;
        outline: none;
        cursor: pointer;

        span {
            display: block;
            height: 2px;
            width: 20px;
            margin-bottom: 5px;
            background: #878787;
            transition: width .2s;

            &:nth-child(1) {
                width: 18px;
            }

            &:nth-child(3) {
                width: 16px;
            }
        }

        &:hover div {
            &:nth-child(1),
            &:nth-child(3) {
                width: 20px;
            }
        }
    }

    .isologo {
        margin: 0;
        height: 58px;

        img {
            height: 100%;
            width: auto;
        }
    }
}

.menu {
    position: fixed;
    width: 92%;
    height: 100%;
    top: 68px;
    left: -100%;
    background: $color-menu-bg;
    box-shadow: 6px 0 20px 0px rgba(0,0,0,.75);
    z-index: 2;
    transition: left .2s;

    &.open {
        left: 0;
    }

    .wrapper {
        padding: 0;
    }

    li {
        border-top: 1px solid $color-menu-border;

        &.selected {
            background: #8cc31f;

            a {
                color: #000;
            }
        }
    }

    a {
        display: block;
        padding: 18px 20px;
        font-family: $font-titles;
        text-transform: uppercase;
        font-weight: bold;
        color: #403e3e;
    }
}

/*--------------------------------------------------
/* Tablet
-------------------------------------------------- */
@media only screen and (min-width : 768px) {
    .main-header {
        display: block;
        height: 58px;
        padding: 8px 0;
        transition: all .15s;

        .menu-trigger {
            display: none;
        }

        .isologo {
            height: 202px;
            transition: all .15s;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        left: auto;
        background: none;
        box-shadow: none;
        transition: none;

        ul {
            display: flex;
            float: right;
            margin: 15px 10px 0 0;
        }

        li {
            padding: 0 0 0 26px;
            border: 0;
            text-align: center;
            transition: all .15s;

            &:first-child {
                padding-left: 0;
            }

            &.selected {
                background: none;
                font-weight: bold;

                a {
                    color: #8cc31f;
                }
            }

            &:hover a {
                color: $color-titles;
            }
        }

        a {
            padding: 0;
            color: #a9a9a9;
            text-transform: none;
            font-weight: 400;
        }
    }

    .scrolled {
        .main-header {
            height: 36px;

            .isologo {
                height: 120px;

                img {
                    width: 149px;
                }
            }
        }

        .menu {
            ul {
                margin-top: 4px;
            }

            li {
                font-size: .75em;
            }
        }
    }
}

/*--------------------------------------------------
/* Desktop
-------------------------------------------------- */
@media only screen and (min-width : 1024px) {
    .menu {
        li {
            padding-left: 50px;
        }
    }
}