#educazione-base {
    picture {
        align-items: center;
        overflow: hidden;
        max-height: 440px;
    }
}

@media only screen and (min-width : 768px) {
    body.corsi {
        section {
            margin-bottom: 100px;
        }
    }

    #educazione-base {
        picture {
            border-radius: 20px;
        }
    }
}
