.intro {
    position: relative;
    overflow: hidden;
}

.intro-carousel {
    width: 400%;
    animation: css-carousel 20s linear infinite;

    img {
        width: 25%;
        height: auto;

        &:not(:first-child) {
            float:left;
        }
    }
}

.intro-content {
    section {
        padding-top: 6px;
    }
}

.activities {
    display: none;
    li {
        position: relative;
        display: block;
        width: 100%;

        img {

        }
    }
}
