.carousel {
    @include carousel();
}

.intro-content {
    section {
        padding-top: 6px;
    }
}

.activities {
    display: none;

    li {
        position: relative;
        display: block;
        width: 100%;
    }
}
