@mixin carousel($quantity: 4) {
    position: relative;
    overflow: hidden;

    .slider {
        width: (100% * $quantity);
        animation: css-carousel 20s linear infinite;

        img {
            width: (100% / $quantity);
            height: auto;

            &:not(:first-child) {
                float:left;
            }
        }
    }

    /*--------------------------------------------------
    /* Tablet
    -------------------------------------------------- */
    @media only screen and (min-width : 768px) {
        .slider {
            max-height: 500px;
            overflow: hidden;
            display: flex;
            align-items: center;
        }
    }
}
