// ==========================================================================
// FONTS
// ==========================================================================

$font-size: 16px;
$font-text: Quicksand, Helvetica, Arial, sans-serif;
$font-titles: Lato, sans-serif;

// ==========================================================================
// COLORS
// ==========================================================================

$color-menu-bg: #97d61d;
$color-menu-border: #86c30f;



$color-green-logo: #6cb644;
$color-green-logo-border: #3b5e26;
$color-green-logo-gradient: #c7dfc5;

$color1: rgba(108, 182, 68, 1);
$color2: rgba(207, 41, 56, 1);
$color3: rgba(76, 155, 60, 1);
$color4: rgba(53, 75, 96, 1);
$color5: rgba(222, 202, 127, 1);
