// ==========================================================================
// FONTS
// ==========================================================================

$font-size: 16px;
$default-font: Helvetica Neue, Helvetica, Arial, sans-serif;

// ==========================================================================
// COLORS
// ==========================================================================
$blue: #009DFF;
$btn-gray: #989898;
$notify: #BD8900;
$white: #fff;
$black: #000;
$txt: #333;
$delete: #cacaca;
$title: #2485C1;
$lines: #9FDAFC;
$deleted: #f55;
$edited: #9f9;
$btn-hover: #d6ebf7;



/* Coolors Exported Palette - coolors.co/efe94c-4c9b3c-cf2938-fefbdc-093b0e */

/* HSL */
$color1: hsla(58%, 84%, 62%, 1);
$color2: hsla(110%, 44%, 42%, 1);
$color3: hsla(355%, 67%, 49%, 1);
$color4: hsla(55%, 94%, 93%, 1);
$color5: hsla(126%, 74%, 13%, 1);

/* RGB */
$color1: rgba(239, 233, 76, 1);
$color2: rgba(76, 155, 60, 1);
$color3: rgba(207, 41, 56, 1);
$color4: rgba(254, 251, 220, 1);
$color5: rgba(9, 59, 14, 1);

/*
gradient #c7dfc5
isologo #6cb644
isologo border #3b5e26

*/






/* Coolors Exported Palette - coolors.co/6cb644-cf2938-4c9b3c-354b60-deca7f */

/* HSL */
$color1: hsla(99%, 46%, 49%, 1);
$color2: hsla(355%, 67%, 49%, 1);
$color3: hsla(110%, 44%, 42%, 1);
$color4: hsla(209%, 29%, 29%, 1);
$color5: hsla(47%, 59%, 68%, 1);

/* RGB */
$color1: rgba(108, 182, 68, 1);
$color2: rgba(207, 41, 56, 1);
$color3: rgba(76, 155, 60, 1);
$color4: rgba(53, 75, 96, 1);
$color5: rgba(222, 202, 127, 1);
