// ==========================================================================
// FONTS
// ==========================================================================

$font-size: 16px;
$font-text: Quicksand, Helvetica, Arial, sans-serif;
$font-titles: Lato, sans-serif;

// ==========================================================================
// COLORS
// ==========================================================================

$color-menu-bg: #efefef;
$color-menu-border: rgba(0,0,0,.1);
$color-titles: #d49d03;
$color-green-logo: #6cb644;
$color-green-logo-border: #3b5e26;
