/* Coolors Exported Palette - coolors.co/efe94c-4c9b3c-cf2938-fefbdc-093b0e */

/* HSL */
$color1: hsla(58%, 84%, 62%, 1);
$color2: hsla(110%, 44%, 42%, 1);
$color3: hsla(355%, 67%, 49%, 1);
$color4: hsla(55%, 94%, 93%, 1);
$color5: hsla(126%, 74%, 13%, 1);

/* RGB */
$color1: rgba(239, 233, 76, 1);
$color2: rgba(76, 155, 60, 1);
$color3: rgba(207, 41, 56, 1);
$color4: rgba(254, 251, 220, 1);
$color5: rgba(9, 59, 14, 1);

/*
gradient #c7dfc5
isologo #6cb644
isologo border #3b5e26

*/
