/* Coolors Exported Palette - coolors.co/6cb644-cf2938-4c9b3c-354b60-deca7f */

/* HSL */
$color1: hsla(99%, 46%, 49%, 1);
$color2: hsla(355%, 67%, 49%, 1);
$color3: hsla(110%, 44%, 42%, 1);
$color4: hsla(209%, 29%, 29%, 1);
$color5: hsla(47%, 59%, 68%, 1);

/* RGB */
$color1: rgba(108, 182, 68, 1);
$color2: rgba(207, 41, 56, 1);
$color3: rgba(76, 155, 60, 1);
$color4: rgba(53, 75, 96, 1);
$color5: rgba(222, 202, 127, 1);