* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 82px;
    font: 1.2em/1.5em $font-text;
    background: #fff;

    &.home {
        padding-top: 68px;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-family: $font-titles;
}

h2 {
    margin: 20px 0 40px;
    color: $color-titles;
    font-size: 2.2em;
}

p {
    margin-top: 0;
}

.flatten {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

a {
    color: $color-green-logo;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

hr {
    margin: 20px 0;
    border: 0;
    border-bottom: 4px solid $color-green-logo;
}

.wrapper {
    position: relative;
    margin: auto;
    padding: 0 10px;
    max-width: 1024px;
}

.title-wrapper {
    position: absolute;
    height: 44px;
    width: 100%;
    margin: -44px 0 0 0;
    padding: 8px 10px;
    background: rgba(255,255,255,.65);

    &.small h3 {
        font-size: 1em;
    }

    h2, h3 {
        margin: 0;
        font-size: 1.3em;
        line-height: 1;
        color: $color-green-logo-border;
    }
}

section picture {
    display: flex;
    align-items: center;
}

/*--------------------------------------------------
/* Tablet
-------------------------------------------------- */
@media only screen and (min-width : 768px) {
    body {
        &.home {
            padding: 0;
        }
    }

    h2 {
        margin: 0 0 20px;
    }

    hr {
        display: none;
    }

    section {
        margin-bottom: 140px;

        img {
            border-radius: 20px;
        }

        p {
            margin-top: 20px;
        }
    }

    article {
        margin-bottom: 120px;

        > header {
            padding: 80px 0 10px;
            text-align: right;
        }
    }

    h2 {
        font-size: 2.6em;
    }

    .title-wrapper {
        height: auto;
        margin-top: -90px;
        background: rgba(255,255,255,0.75);

        h3 {
            font-size: 2.2em !important;
            line-height: 1;
        }
    }
}
